<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Edit Fruits</title>
  </head>
  <body>
    <h1>Edit Fruits</h1>
    <%=JSON.stringify(fruit)%> 
    <form action="/fruits/<%=pos%>?_method=PUT" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%=fruit.name%>" />
      <br />
      <label for="color">Color</label>
      <input type="text" name="color" id="color" value="<%=fruit.color%>" />
      <br />
      <label for="isReadyToEat">Is Ready to Eat</label>
      <% if (fruit.readyToEat) { %>
        <input type="checkbox" name="readyToEat" id="isReadyToEat" checked/>
      <% } else { %>
        <input type="checkbox" name="readyToEat" id="isReadyToEat" />
      <% } %>
      <br />
      <input type="submit" value="Edit Fruit" />
    </form>
  </body>
</html>
