<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fruit Show</title>
  </head>
  <body>
    <h1>Fruits show page</h1>
    <p>
      The <%= fruit.name %> is <%= fruit.color %>.
      <% if (fruit.readyToEat === true) { %>
        <span> It is ready to eat </span>
      <% } else { %>
        <span> It is not ready to eat </span>
      <% } %>
    </p>
    <form action="/fruits/<%=pos%>/edit" method="GET">
      <button>Edit</button>
    </form>
    <form action="/fruits/<%=pos%>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </body>
</html>